name: Trivy security scan

on:
  schedule:
  # Run every weekday at 8am
  - cron: '0 7 * * 1-5'
  pull_request:

jobs:
  build:
    name: Scan
    runs-on: ubuntu-18.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Pull image from Dockerfile.release
        run: |
          echo "IMAGE=$(grep -o 'FROM.*' Dockerfile.release | cut -f 2 -d ' ')" >> $GITHUB_ENV
      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: '${{ env.IMAGE }}'
          ignore-unfixed: true
          vuln-type: 'os,library'
          severity: 'CRITICAL,HIGH,MEDIUM'
          format: 'sarif'
          output: 'trivy-results.sarif'

      - name: Upload Trivy scan results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@v1
        with:
          sarif_file: 'trivy-results.sarif'
